.profile-pic{
    margin-left: 6px;
    margin-top: 17px;
    border-radius: 50%;
    width: 48px;
    height: 48px;

}
.btn-container{
    margin-right: 15px;
}
.btn .btn-primary .btn-container{
    border-radius: 20px;
}
.text-area{
    border: none!Important;
}

.reply-tweet-submit-container button {
    border-radius: 20px;
}
.image-icon{
    padding: 0px 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.list-group-item.list-group-item-action.borderless:hover{
    color: rgba(29, 161, 242, 1);

}

.list-group-item.list-group-item-action.borderless svg{
    margin-right: 5px;
}